//Hamburger button styling
.hamburger {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border: 1.5px solid white;
    //Start hidden
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;

    //Only at 900px or below should the hamburger be displayed
    @media only screen and (max-width: 900px) {
        display: flex;
    }

    @media only screen and (max-width: 500px) {
        height: 4.5rem;
        width: 4.5rem;
    }

    //Hamburger line settings
    span {
        width: 2.6rem;
        display: block;
        border-bottom: 1.5px solid white;
        margin: .4rem 0;

        @media only screen and (max-width: 500px) {
            width: 2.8rem;
        }
    }
}

//Set hover behaviour
.hamburger:hover {
    border: 2px solid #ffb129;

    span {
        border-bottom: 2px solid #ffb1299c;
    }
}
