//Hamburger button styling
.hamburger {
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    border: 2px solid white;
    //Start hidden
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;

    //Only at 900px or below should the hamburger be displayed
    @media only screen and (max-width: 900px) {
        display: flex;
    }

    //Hamburger line settings
    span {
        width: 2.4rem;
        display: block;
        border-bottom: 2px solid white;
        margin: .3rem 0;
    }

    &__top {

    }

    &__middle {
        
    }

    &__bottom {

        
    }
}

//Set hover behaviour
.hamburger:hover {
    border: 2px solid #ffb129;

    span {
        border-bottom: 2px solid #ffb1299c;
    }
}

//Set position of the mobile navbar hamburger
.hamburger-mob {
    position: absolute;
    right: 0;
    top: 2.2rem;
}