//Modal styling
.modal {
    //Set to full width and height of screen and fix the position
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    //Set the opacity so the website can still be seen but darkened out
    background: rgba(0, 0, 0, 0.568);
    z-index: 10;
    display: none;


    //Content container
    &__container {
        //Set position
        width: 50%;
        height: 80%;
        background: black;
        margin: auto;
        position: relative;
        top: 10rem;
        padding: 2rem;
        box-shadow: 0 1rem 8rem 3rem rgba(255, 255, 255, 0.2);
        // display: grid;
        // grid-template-columns: 1fr;
        // grid-template-rows: 1fr;


        //Change sizing and positioning basen on screen size
        @media only screen and (max-width: 900px) {
            width: 60%;
        }

        @media only screen and (max-width: 800px) {
            width: 65%;
        }

        @media only screen and (max-width: 600px) {
            width: 70%;
        }

        @media only screen and (max-width: 500px) {
            width: 80%;
        }

        @media only screen and (max-height: 900px) {
            height: 65%;
        }
    }

    //Modal content
    &__content {
        //Set grid
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        align-items: center;
        height: 100%;
        width: 100%;

        &--heading{
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            text-align: center;
            font-size: 3rem;
            padding-top: 1rem;

            @media only screen and (max-width: 1000px) {
                font-size: 2.5rem;
            }

            //Change heading size depending on the size of the screen
            @media only screen and (max-width: 800px) {
                font-weight: normal;
            }

            //Important to overwrite the media query based on width when the height falls under 600px
            @media only screen and (max-height: 800px) {
                font-size: 2rem !important;
            }

            @media only screen and (max-height: 700px) {
                font-size: 1.6rem !important;
            }

            @media only screen and (max-height: 500px) {
                font-size: 1rem !important;
            }

            @media only screen and (max-height: 400px) {
                font-size: .5rem !important;
            }
        }

        //Lead blurb positioning and styling
        &--lead {
            grid-column: 3 / 11;
            grid-row: 2 / 3;
            font-size: 3.5rem;
            font-weight: 100;
            margin: 2rem 0 0 0;
            line-height: .8;

            @media only screen and (max-width: 1000px) {
                font-size: 3rem;
            }

            //Alter size depending on screen size
            @media only screen and (max-width: 800px) {
                font-weight: 300;
            }

            //Important to overwrite media queries based on width when display falls below 600px
            @media only screen and (max-height: 800px) {
                font-size: 3rem !important;
            }

            @media only screen and (max-height: 700px) {
                font-size: 2.5rem !important;
            }

            @media only screen and (max-height: 500px) {
                font-size: 2rem !important;
            }

            @media only screen and (max-height: 400px) {
                font-size: 1.5rem !important;
            }
        }

        //Features
        &--features {
            grid-column: 3 / 11;
            grid-row: 4 / 10;

            h2 {
                font-size: 1.6rem;
                font-weight: 300;
                margin-bottom: 1rem;

                @media only screen and (max-width: 1000px) {
                    font-size: 1.4rem;
                }

                @media only screen and (max-width: 800px) {
                    font-weight: normal;
                }

                //Important to overwrite media queries based on width when display falls below 600px
                @media only screen and (max-height: 800px) {
                    font-size: 1.5rem !important;
                }

                @media only screen and (max-height: 700px) {
                    font-size: 1.2rem !important;
                }

                @media only screen and (max-height: 500px) {
                    font-size: 1rem !important;
                }

                @media only screen and (max-height: 400px) {
                    font-size: .5rem !important;
                }
            }

            p {
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5;

                @media only screen and (max-width: 1000px) {
                    font-size: 1.4rem;
                }

                @media only screen and (max-width: 800px) {
                    font-weight: normal;
                }

                //Important to overwrite media queries based on width when display falls below 600px
                @media only screen and (max-height: 800px) {
                    font-size: 1.5rem !important;
                }

                @media only screen and (max-height: 700px) {
                    font-size: 1.2rem !important;
                }

                @media only screen and (max-height: 500px) {
                    font-size: 1rem !important;
                }

                @media only screen and (max-height: 400px) {
                    font-size: .5rem !important;
                }
            }
        }

        //repo and site links and icons
        &--github {
            grid-column: 4 / 5;
            grid-row: 11 / 12;
        }

        &--git-text {
            grid-column: 5 / 7;
            grid-row: 11 / 12;
            font-size: 1.2rem;
            font-weight: 300;
            position: relative;
            // left: -2rem;

            @media only screen and (max-width: 800px) {
                font-weight: normal;
                left: 0;
            }

            //Important to overwrite media queries based on width when display falls below 600px
            @media only screen and (max-height: 500px) {
                font-size: 1rem !important;
            }

            @media only screen and (max-height: 400px) {
                font-size: .5rem !important;
            }
        }

        &--view {
            grid-column: 7 / 8;
            grid-row: 11 / 12;
            
        }

        &--view-text {
            grid-column: 8 / 10;
            grid-row: 11 / 12;
            font-size: 1.2rem;
            font-weight: 300;
            position: relative;
            // left: -2rem;

            @media only screen and (max-width: 800px) {
                font-weight: normal;
                left: 0;
            }
            //Important to overwrite media queries based on width when display falls below 600px
            @media only screen and (max-height: 500px) {
                font-size: 1rem !important;
            }

            @media only screen and (max-height: 400px) {
                font-size: .5rem !important;
            }
            
        }

        //Set all to display none from the start
        &--1 {
            display: none;
        }

        &--2 {
            display: none;
        }

        &--3 {
            display: none;
        }

        &--4 {
            display: none;
        }

        &--5 {
            display: none;
        }

        &--6 {
            display: none;
        }

        &--7 {
            display: none;
        }

        &--8 {
            display: none;
        }

        &--9 {
            display: none;
        }
    }
}