//Global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //Set root font size
    font-size: 62.5%; // 1rem = 10px

    //Alter root font size as screen width gets smaller
    @media only screen and (max-width: 1200px) {
        font-size: 60%;
    }

    @media only screen and (max-width: 900px) {
        font-size: 55%;
    }

    @media only screen and (max-width: 800px) {
        font-size: 50%;
    }

    @media only screen and (max-width: 700px) {
        font-size: 45%;
    }

    @media only screen and (max-width: 500px) {
        font-size: 40%;
    }

    @media only screen and (max-width: 450px) {
        font-size: 35%;
    }

    @media only screen and (max-width: 400px) {
        font-size: 30%;
    }



    
}

body {
    font-family: 'Lato', sans-serif;
    color: white;

    //At 500px and below set overflow to hidden in order to get rid of the scroll bounce effect on the navbar
    @media only screen and (max-width: 1024px) {
        overflow: hidden;
    }
}

//Place psuedo element on the body to create a parallax scrolling effect
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  //Add to main wrapper at 500px or below in order to still be able to scroll through entire site once the overflow on the body has been set to hidden
  @media only screen and (max-width: 1024px) {
    body > .mainwrapper {
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
      }
  }

