//Main about section container - Contains personal details and content
.about {
    min-height: 100vh;
    background-color: #010304;

    //Set grid
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    //Change grid layout for 600px and below
    @media only screen and (max-width: 800px) {
        grid-template-rows: repeat(2, 1fr);
        padding: 5rem;
        grid-row-gap: 10rem;
    }


    //Description of developer
    &__desc {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 2rem;

        @media only screen and (max-width: 800px) {
            font-size: 2rem;
        }
    }

    //Overview details
    &__overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        position: relative;
        left: 25%;


        //Change grid postion for 600px and below
        @media only screen and (max-width: 800px) {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            left: 0;
        }

        //Icon container
        &--icons {
            margin-top: 4rem;
            display: flex;
            justify-content: start;

        }

        //Individual icons
        &--icon {
            height: 3rem;
            width: 3rem;
            fill: white;
            margin-right: 1rem;
            transition: all .2s
        }

        //Set hover properties
        &--icon:hover {
            fill: #ffb129;
            cursor: pointer;
        }
    }


    //Name section
    &__title {
        font-size: 5rem;
        font-weight: 100;

        @media only screen and (max-width: 800px) {
            font-size: 7rem;
        }

        //Split name into two rows
        &--top {
            display: block;

        }

        &--bottom {
            display: block;

        }


    }

    //Content section
    &__content {
        //Set grid
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        // justify-items: center;
        align-items: center;


        //Change grid position for 600px and below
        @media only screen and (max-width: 800px) {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
        }

        //Tab styling
        span {
            font-size: 1.6rem;
            padding-bottom: .5rem;
            cursor: pointer;
        }

        &--intro {
            grid-row: 2 / 3;
            grid-column: 4 / 5;

            //Change grid position for 600px and below
            @media only screen and (max-width: 800px) {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }


        }

        //Set hover properties
        &--intro:hover {
            border-bottom: 2px solid #ffb1299c;
        }

        &--contact {
            grid-row: 2 / 3;
            grid-column: 6 / 7;
            
            //Change grid position for 600px and below
            @media only screen and (max-width: 800px) {
                grid-row: 2 / 3;
                grid-column: 3 / 4;
            }

        }

        //Set hover properties
        &--contact:hover {
            border-bottom: 2px solid #ffb1299c;
        }

        &--skills {
            grid-row: 2 / 3;
            grid-column: 8 / 9;

            //Change grid position for 600px and below
            @media only screen and (max-width: 800px) {
                grid-row: 2 / 3;
                grid-column: 5 / 6;
            }

        }

        //Set hover properties
        &--skills:hover {
            border-bottom: 2px solid #ffb1299c;
        }
    }


    //Section styling
    //Intro section
    &__card-intro { 
        font-weight: 100;
        // display: none;

        h2 {

            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 300;

            @media only screen and (max-width: 800px) {
                font-size: 2rem;
            }
        }

        :nth-child(2) {
            font-size: 3.5rem;
            margin-bottom: 3rem;

            @media only screen and (max-width: 800px) {
                font-size: 4rem;
            }
        }

        :nth-child(3) {
            font-size: 1.5rem;
            font-weight: 300;

            @media only screen and (max-width: 800px) {
                font-size: 2rem;
            }
        }

        :nth-child(5) {
            font-size: 1.5rem;
            font-weight: 300;

            @media only screen and (max-width: 800px) {
                font-size: 2rem;
            }
        }
        
    }

    //Contact section
    &__card-contact {
        font-weight: 100;
        display: none;


        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 300;
        }

        :nth-child(2) {
            font-size: 3.5rem;
            margin-bottom: 3rem;
        }

        :nth-child(3) {
            font-size: 1.5rem;
            font-weight: 300;
        }

        :nth-child(4) {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    //Skills section
    &__card-skills {
        font-weight: 100;
        display: none;


        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 300;
        }

        p {
            font-size: 3.5rem;
            margin-bottom: 3rem;
        }

        :nth-child(3) {
            font-size: 1.5rem;
            font-weight: 300;
        }

        :nth-child(4) {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    //Results section
    &__card-results {
        display: none;

    }




}

//Active class for selected tab - will be assigned with JavaScript
.active {

    border-bottom: 2px solid #ffaf29;
}


//Overall card properties
.card {
    grid-row: 3 / 11;
    grid-column: 4 / 9;

    @media only screen and (max-width: 800px) {
        grid-row: 4 / -1;
        grid-column: 1 / -1;
    }

}