//Footer section styling
.footer {
    min-height: 20vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    //Left side content
    &__left {
        font-size: 2rem;
        font-weight: 300;

        @media only screen and (max-width: 600px) {
            font-size: 1.5rem;
        }

    }

    //Right side content
    &__right {
        font-size: 1.2rem;

        @media only screen and (max-width: 350px) {
            font-size: 1rem;
        }

    }

    //Socila links and icons
    &__socials {
        margin-top: 1rem;

        &--icon {
            fill: white;
            height: 3rem;
            width: 3rem;
            margin-right: 2rem;
            transition: all .2s;

            @media only screen and (max-width: 600px) {
                height: 2rem;
                width: 2rem;
            }
        }

        &--icon:hover {
            fill: #ffb129;
            cursor: pointer;
        }
    }
}