.landing {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all;
    padding: 5rem;

    &__title {
        font-size: 10rem;
    }
}

//Lightning effect
.title-animation {
    animation: text-flicker-in-glow 3s;
}

.sub-animation {
    animation: text-flicker-in-glow 4s ease-out;
}