.landing {
    background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all;


    &__title {
        font-size: 10rem;
        // animation: text-flicker-in-glow 3s;
    }

    &__sub {
        // animation: text-flicker-in-glow 5s;
    }
}

.title-animation {
    animation: text-flicker-in-glow 3s;
}

.sub-animation {
    animation: text-flicker-in-glow 4s ease-out;
}